Лабораторная работа 5. 
Разработка единого шаблона предварительной обработки данных

In [1]:
# Подключение библиотек

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Загрузка данных и разделение на матрицу признаков и зависимую переменную

dataset = pd.read_csv('../MMO/Datasets/social_network_ads_lab5.csv')
dataset.head()

   Country   Age  EstimatedSalary Purchased
0  Belgium  19.0          19000.0        No
1    Italy  35.0              NaN        No
2   Poland  26.0          43000.0        No
3  Belgium   NaN          57000.0        No
4    Italy  19.0              NaN        No

In [69]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values
print ("Матрица признаков"); print(X)
print ("Зависимая переменная"); print(y)

Матрица признаков
[['Belgium' 19.0 19000.0]
 ['Italy' 35.0 nan]
 ['Poland' 26.0 43000.0]
 ['Belgium' nan 57000.0]
 ['Italy' 19.0 nan]
 ['Italy' 27.0 58000.0]
 ['Poland' 27.0 84000.0]
 ['Belgium' 32.0 150000.0]
 ['Italy' 25.0 33000.0]
 ['Belgium' 35.0 65000.0]
 ['Italy' 26.0 80000.0]
 ['Belgium' 26.0 52000.0]
 ['Belgium' 20.0 86000.0]
 ['Italy' 32.0 18000.0]
 ['Belgium' 18.0 82000.0]
 ['Belgium' 29.0 80000.0]
 ['Poland' 47.0 25000.0]
 ['Italy' 45.0 26000.0]
 ['Belgium' 46.0 28000.0]
 ['Belgium' 48.0 29000.0]
 ['Belgium' 45.0 22000.0]
 ['Poland' 47.0 49000.0]
 ['Italy' 48.0 41000.0]
 ['Belgium' 45.0 22000.0]
 ['Italy' 46.0 23000.0]
 ['Poland' 47.0 20000.0]
 ['Italy' 49.0 28000.0]
 ['Belgium' 47.0 30000.0]
 ['Italy' 29.0 43000.0]
 ['Belgium' 31.0 18000.0]
 ['Poland' 31.0 74000.0]
 ['Belgium' 27.0 137000.0]
 ['Poland' 21.0 16000.0]
 ['Poland' 28.0 44000.0]
 ['Belgium' 27.0 90000.0]
 ['Belgium' 35.0 27000.0]
 ['Poland' 33.0 28000.0]
 ['Belgium' 30.0 49000.0]
 ['Italy' 26.0 72000.0]
 ['Italy' 27.0 31000.0]
 ['Belgium' 27.0 17000.0]
 ['Belgium' 33.0 51000.0]
 ['Poland' 35.0 108000.0]
 ['Poland' 30.0 15000.0]
 ['Belgium' 28.0 84000.0]
 ['Belgium' 23.0 20000.0]
 ['Poland' 25.0 79000.0]
 ['Belgium' 27.0 54000.0]
 ['Belgium' 30.0 135000.0]
 ['Poland' 31.0 89000.0]]
Зависимая переменная
['No' 'No' 'No' 'No' 'No' 'No' 'No' 'Yes' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'No' 'No' 'No' 'Yes' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'Yes' 'No']

In [71]:
# Обработка пропущенных значений

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer = imputer.fit(X[:, 1:3])
X_without_nan = X.copy()
X_without_nan[:, 1:3] = imputer.transform(X[:, 1:3])
X_without_nan

array([['Belgium', 19.0, 19000.0],
       ['Italy', 35.0, 52729.166666666664],
       ['Poland', 26.0, 43000.0],
       ['Belgium', 32.44897959183673, 57000.0],
       ['Italy', 19.0, 52729.166666666664],
       ['Italy', 27.0, 58000.0],
       ['Poland', 27.0, 84000.0],
       ['Belgium', 32.0, 150000.0],
       ['Italy', 25.0, 33000.0],
       ['Belgium', 35.0, 65000.0],
       ['Italy', 26.0, 80000.0],
       ['Belgium', 26.0, 52000.0],
       ['Belgium', 20.0, 86000.0],
       ['Italy', 32.0, 18000.0],
       ['Belgium', 18.0, 82000.0],
       ['Belgium', 29.0, 80000.0],
       ['Poland', 47.0, 25000.0],
       ['Italy', 45.0, 26000.0],
       ['Belgium', 46.0, 28000.0],
       ['Belgium', 48.0, 29000.0],
       ['Belgium', 45.0, 22000.0],
       ['Poland', 47.0, 49000.0],
       ['Italy', 48.0, 41000.0],
       ['Belgium', 45.0, 22000.0],
       ['Italy', 46.0, 23000.0],
       ['Poland', 47.0, 20000.0],
       ['Italy', 49.0, 28000.0],
       ['Belgium', 47.0, 30000.0],
       ['Italy', 29.0, 43000.0],
       ['Belgium', 31.0, 18000.0],
       ['Poland', 31.0, 74000.0],
       ['Belgium', 27.0, 137000.0],
       ['Poland', 21.0, 16000.0],
       ['Poland', 28.0, 44000.0],
       ['Belgium', 27.0, 90000.0],
       ['Belgium', 35.0, 27000.0],
       ['Poland', 33.0, 28000.0],
       ['Belgium', 30.0, 49000.0],
       ['Italy', 26.0, 72000.0],
       ['Italy', 27.0, 31000.0],
       ['Belgium', 27.0, 17000.0],
       ['Belgium', 33.0, 51000.0],
       ['Poland', 35.0, 108000.0],
       ['Poland', 30.0, 15000.0],
       ['Belgium', 28.0, 84000.0],
       ['Belgium', 23.0, 20000.0],
       ['Poland', 25.0, 79000.0],
       ['Belgium', 27.0, 54000.0],
       ['Belgium', 30.0, 135000.0],
       ['Poland', 31.0, 89000.0]], dtype=object)

In [72]:
# Обработка категориальных данных

# Замена категории кодом (LabelEncoder)

from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
print("Зависимая переменная до обработки")
print(y)
y = labelencoder_y.fit_transform(y)
print("Зависимая переменная после обработки")
print(y)

Зависимая переменная до обработки
['No' 'No' 'No' 'No' 'No' 'No' 'No' 'Yes' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'No' 'No' 'No' 'Yes' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'Yes' 'No']
Зависимая переменная после обработки
[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0]

In [79]:
# Применение OneHotEncoder

# создаем копию "грязного" объекта: с пропусками и некодированными категориями
X_dirty = X.copy()
X_dirty

# Современный метод трансформации признаков
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# создаем список трансформеров
transformers = [
    ('onehot', OneHotEncoder(), [0]),
    ('imp', SimpleImputer(), [1, 2])
]

# Создаем объект ColumnTransformer и передаем ему список трансформеров
ct = ColumnTransformer(transformers)

# Выполняем трансформацию признаков
X_transformed = ct.fit_transform(X_dirty)
print(X_transformed.shape)
X_transformed

(50, 5)

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.90000000e+01,
        1.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.27291667e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.60000000e+01,
        4.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.24489796e+01,
        5.70000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 1.90000000e+01,
        5.27291667e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 2.70000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        8.40000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.20000000e+01,
        1.50000000e+05],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 2.50000000e+01,
        3.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        6.50000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 2.60000000e+01,
        8.00000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.60000000e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.00000000e+01,
        8.60000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.20000000e+01,
        1.80000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 1.80000000e+01,
        8.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.90000000e+01,
        8.00000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 4.70000000e+01,
        2.50000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.50000000e+01,
        2.60000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.60000000e+01,
        2.80000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        2.90000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.50000000e+01,
        2.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 4.70000000e+01,
        4.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        4.10000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.50000000e+01,
        2.20000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.60000000e+01,
        2.30000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 4.70000000e+01,
        2.00000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.90000000e+01,
        2.80000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.70000000e+01,
        3.00000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 2.90000000e+01,
        4.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.10000000e+01,
        1.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.10000000e+01,
        7.40000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.70000000e+01,
        1.37000000e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.10000000e+01,
        1.60000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.80000000e+01,
        4.40000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.70000000e+01,
        9.00000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        2.70000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.30000000e+01,
        2.80000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        4.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 2.60000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 2.70000000e+01,
        3.10000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.70000000e+01,
        1.70000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.30000000e+01,
        5.10000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.50000000e+01,
        1.08000000e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.00000000e+01,
        1.50000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.80000000e+01,
        8.40000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.30000000e+01,
        2.00000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.50000000e+01,
        7.90000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 2.70000000e+01,
        5.40000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        1.35000000e+05],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.10000000e+01,
        8.90000000e+04]])

In [82]:
# Можно преобразовать полученный многомерный массив обратно в Dataframe

X_data = pd.DataFrame(
    X_transformed, 
    columns=['C1', 'C2', 'C3', 'Age', 'EstimatedSalary'])
X_data

     C1   C2   C3       Age  EstimatedSalary
0   1.0  0.0  0.0  19.00000     19000.000000
1   0.0  1.0  0.0  35.00000     52729.166667
2   0.0  0.0  1.0  26.00000     43000.000000
3   1.0  0.0  0.0  32.44898     57000.000000
4   0.0  1.0  0.0  19.00000     52729.166667
5   0.0  1.0  0.0  27.00000     58000.000000
6   0.0  0.0  1.0  27.00000     84000.000000
7   1.0  0.0  0.0  32.00000    150000.000000
8   0.0  1.0  0.0  25.00000     33000.000000
9   1.0  0.0  0.0  35.00000     65000.000000
10  0.0  1.0  0.0  26.00000     80000.000000
11  1.0  0.0  0.0  26.00000     52000.000000
12  1.0  0.0  0.0  20.00000     86000.000000
13  0.0  1.0  0.0  32.00000     18000.000000
14  1.0  0.0  0.0  18.00000     82000.000000
15  1.0  0.0  0.0  29.00000     80000.000000
16  0.0  0.0  1.0  47.00000     25000.000000
17  0.0  1.0  0.0  45.00000     26000.000000
18  1.0  0.0  0.0  46.00000     28000.000000
19  1.0  0.0  0.0  48.00000     29000.000000
20  1.0  0.0  0.0  45.00000     22000.000000
21  0.0  0.0  1.0  47.00000     49000.000000
22  0.0  1.0  0.0  48.00000     41000.000000
23  1.0  0.0  0.0  45.00000     22000.000000
24  0.0  1.0  0.0  46.00000     23000.000000
25  0.0  0.0  1.0  47.00000     20000.000000
26  0.0  1.0  0.0  49.00000     28000.000000
27  1.0  0.0  0.0  47.00000     30000.000000
28  0.0  1.0  0.0  29.00000     43000.000000
29  1.0  0.0  0.0  31.00000     18000.000000
30  0.0  0.0  1.0  31.00000     74000.000000
31  1.0  0.0  0.0  27.00000    137000.000000
32  0.0  0.0  1.0  21.00000     16000.000000
33  0.0  0.0  1.0  28.00000     44000.000000
34  1.0  0.0  0.0  27.00000     90000.000000
35  1.0  0.0  0.0  35.00000     27000.000000
36  0.0  0.0  1.0  33.00000     28000.000000
37  1.0  0.0  0.0  30.00000     49000.000000
38  0.0  1.0  0.0  26.00000     72000.000000
39  0.0  1.0  0.0  27.00000     31000.000000
40  1.0  0.0  0.0  27.00000     17000.000000
41  1.0  0.0  0.0  33.00000     51000.000000
42  0.0  0.0  1.0  35.00000    108000.000000
43  0.0  0.0  1.0  30.00000     15000.000000
44  1.0  0.0  0.0  28.00000     84000.000000
45  1.0  0.0  0.0  23.00000     20000.000000
46  0.0  0.0  1.0  25.00000     79000.000000
47  1.0  0.0  0.0  27.00000     54000.000000
48  1.0  0.0  0.0  30.00000    135000.000000
49  0.0  0.0  1.0  31.00000     89000.000000